/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
html{
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0px;
}


main {
  height: 610px;
  background-color: #6f4b3e;
  width: 70%;
}

@media screen and (max-width:600px) {
  main {
    width: 100%;
  }
}


