
.container{
  width: 150px;
  height: 70px;
  margin-top: 30px;
  /* z-index: 10; */
  /* background-color: white; */
}

.start {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    /* animation: game-play-button-fade-in 10s 1; */
    z-index: 10;
    margin-top: 10px;
  }
  
  .start:disabled {
    pointer-events: none;
  }
  
  .start:hover {
    color: #fff;
    background-color: #6f4b3e;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .start:active {
    box-shadow: none;
    transform: translateY(0);
  }