/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/components/Card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/


    /* --badge-bg-color: darkgrey;
    --primary-color: black;
    --secondary-color: #ffffff; */

/* .container{
    position: relative;
    height: 100%;
    width: calc(157px * (4 / 2) + 100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
                         "c d";
    /* border: 1px solid black; */
/* } */ 

.card_card__e88QN{
    /* position:absolute; */
    height: 220px;
    width: 148px;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    background-color: white;
    border-radius: 25px;
    margin-top: 40px;
}

.card_inner__4Vx6_{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card_front__z9yuT, .card_back__UyBYV{
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */

}

.card_img__EZi4H{
    height: 100%;
}

.card_back__UyBYV{
    transform: rotateY(180deg);
}

.card_card__e88QN.card_shuffle-left__Xh77g{
    transform: translateX(300px) translateY(40px);
}

.card_card__e88QN.card_shuffle-right__wAB2Z{
    transform: translateX(-350px) translateY(-40px);
}

.card_card__e88QN.card_fly-in___teB4{
    transform: translateY(-1000px) translateX(-600px) rotate(45deg);
}

.card_card-inner__kW36S.card_flip-it__EMoEq{
    transform: rotateY(180deg);
}

@media screen and (max-width:600px) {
    .card_card__e88QN{
        width: 120px;
        height: 168px;
    }
    .card_card-container__HsQrO{
        width: calc(120px * (4/2) + 50px);
    }
    /* main{
        height: 50%;
    } */
    .card_current-status__2sLxq{
        font-size: 1.2rem;
    }
    .card_game-play-button-container__IKEJI{
        width: 120px;
        height: 40px;
    }
    .card_play-game__1qJID{
        padding: 6px 8px;
        font-size: 12px;
        min-height: 40px;
    }
    .card_header-img__dRRpw{
        height: 55px;  
    }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/components/Table/table.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.table_table__vnDpc {
    width: 95%;
    height: 600px;
    background-color: #2e8b57;
    border: 5px solid #595857;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    flex-flow: column;
    
    /* grid-template-areas: "cards player kings"
                         "blank1 card blank2"
                         "blank3 button blank3"; */
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/components/Title/title.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.title_h1__1_nfs {
    /* HACK:文字サイズのプロパティいいかんじに */
    font-size: 9vw;
    font-weight: bold;
    margin-bottom: 0;
    color: #f8f4e6;
    margin-top: 30px;
    white-space: nowrap;
  }
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

.page_app__1ooRt {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}



.page_h2__VnyuY {
  font-size: 24px;
  margin-top: 0;
  color: #f8f4e6;
}




