.inputForm {
    width: 80vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .inputForm input {
    width: 15rem;
    height: 1.7rem;
    padding: 0.5rem;
    border: none;
  }
  
  .inputForm button {
    padding: 0.38rem 0.5rem;
    background: rgb(243, 240, 84);
  }